.table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
  overflow-x: hidden;
}

.table tr {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.table tr:nth-of-type(odd) {
  background-color: rgb(231, 231, 231);
}
